<html>
  <head>
    <title>QuillNote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//{{server}}:{{port}}/assets/index.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://{{server}}:{{port}}/assets/mypage.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="pull-right">
            <span class="irregular">{{message}}</span>
            <a class="irregular" href="//{{server}}:{{int(port)}}/rules">Rules</a>
            <a class="irregular" href="//{{server}}:{{int(port)}}">Top page</a>
          </div>
        </div>
        <div class="col-md-offset-9">
          <form id="forsearch" role="search">
            <div class="input-group">
              <input id="searchinput" type="text" class="form-control" placeholder="Search" name="search">
              <div class="input-group-btn">
                <button id="searchbtn" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="form">
        <form method="post" action="/member/{{user_id}}" class="form-inline">
          <label>Page title: </label>
          <input type="text" name="pagetitle" id="pagetitle" class="form-control">
          <button id="notebtn" class="btn btn-default">submit</button>
        </form>
        % if PAPER_NOTE_MODE:
        <div>or,</div>
        <form method="post" action="/member/{{user_id}}" class="form-inline">
          <label>PDF URL: </label>
          <input type="text" name="pdfurl" id="pdfurl" class="form-control">
          <span>, and</span>
          <label>Note title: </label>
          <input type="text" name="pdftitle" id="pdftitle" class="form-control">
          <button id="notebtn" class="btn btn-default">submit</button>
        </form>
        <div>or,</div>
        <form method="post" action="/member/{{user_id}}" class="form-inline">
          <label>arXiv ID: </label>
          <input type="text" name="arxivid" id="arxivid" class="form-control">
          <button id="searchbtn" class="btn btn-default">submit</button>
        </form>
        % end
      </div>

      <div id="notes">
        <table id="note-table" class="table">
          <thead>
            <tr><th>#</th><th>Note Title</th><th>Status</th><th>Last Updated (GMT)</th></tr>
          </thead>
          <tbody>
            % for cur_i, (note_id, title, display, updated_at) in enumerate(notes):
            % if display == 1:
            <tr>
              % else:
            <tr class="active">
              % end
              % if cur_i + 1 <= 9:
                                <td><a class="targtd" href="http://{{server}}:{{port}}/note/{{str(note_id)}}" id="td{{cur_i+1}}">{{cur_i+1}}</a></td>
                                % else:
              <td><a href="http://{{server}}:{{port}}/note/{{str(note_id)}}" id="td0">-</a></td>
              % end
              <td><a href="http://{{server}}:{{port}}/note/{{str(note_id)}}">
                  {{title}}
              </a></td>
              <td>
                <a href="http://{{server}}:{{port}}/display/{{str(note_id)}}">
                  % if display == 1:
                  Shown
                  % else:
                  Hidden
                  % end
                </a>
              </td>
              <td>{{updated_at}}</td>
            </tr>
            % end
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
