<html>
  <head>
    <title>QuillNote: Rules</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//{{server}}:{{port}}/assets/index.css" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <a href="../member/{{user_id}}">back</a>
      <div>
        <h3>基本ルール:</h3>
        <ul>
          <li>性善説で実装しています。XSSやSQL Injectionもやろうと思えばできると思いますがやらないでください。</li>
          <li>Backupはとってません。データが吹っ飛んだ場合、復元不可です。ご了承ください。</li>
          <li>突如終了する可能性があります。ご了承ください。</li>
        </ul>
      </div>
      <div>
        <h3>編集に関して:</h3>
        <ul>
          <li>文字拡大: Ctrl+&#062; (Mac: Command+&#062;)</li>
          <li>文字縮小: Ctrl+&#060; (Mac: Command+&#060;)</li>
          <li>太字化と解除: Ctrl+B (Mac: Command+B)</li>
          <li>アンダーライン化と解除: Ctrl+U (Mac: Command+U)</li>
          <li>保存: Ctrl+S (Mac: Command+S), なお基本的には定期的に自動保存されます</li>
          <li>番号なしリスト化: 行頭で "-" + Tab</li>
          <li>番号つきリスト化: 行頭で "1." + Tab</li>
          <li>チェックボックス: 行頭で "[]" + Tab</li>
          <li>チェックボックス(チェック済み): 行頭で "[x]" + Tab</li>
        </ul>
      </div>
      <div>
        <h3>論文中から画像を切り取って貼り付ける:</h3>
        <ul>
          <li>(ノート作成時にarXiv IDもしくはPDF URLを指定して作成していることが前提。つまりPage Titleを入力して開始する場合この機能は利用不可能。)</li>
          <li>ノート作成後1分程度かけてPDFの処理が行われ、その後編集ページの下の方に論文の画像が表示される。</li>
          <li>切り取るだけ。</li>
        </ul>
      </div>
    </div>
  </body>
</html>
