body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: PT Sans,Helvetica Neue,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS PGothic,sans-serif;
  font-size: 18px;
}

form {
  padding: 15px;
}

h1 {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
